= form_with(model: @employee, class: "contents", data: { controller: 'validator', action: 'input->validator#validate'}) do |form|

  #preview
  .my-5
    = form.label :first_name
    = form.text_field :first_name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", data: { validator_target: "validateParam" }
    
  .my-5
    = form.label :last_name
    = form.text_field :last_name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"
  .my-5
    = form.label :email
    = form.text_field :email, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"
  .my-5
    = form.label :password
    = form.text_field :password, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"
  .my-5
    = form.label :phone_number
    = form.number_field :phone_number, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"
  = tag.div class:"inline" do
    = form.button 'Submit', formaction: personal_data_employees_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer", data: { turbo_frame: '_top'}
    = form.button link_to "Next Step: Employement", new_employee_path,  data: { turbo_frame: 'employment-modal' }, class: 'rounded-lg py-3 px-5 bg-green-600 text-white inline-block font-medium'
    = form.button link_to "Back to employees", employees_path, class: "rounded-lg mt-2 py-3 px-5 bg-red-600 text-white inline-block font-medium", data: { turbo_frame: '_top'}
