<div class="mx-auto md:w-2/3 w-full">
  <%= turbo_frame_tag "modal" do %>
    <%= tag.div data: { controller: "modal_controller" }, style: "padding: 30px;" do %>
      <%= render "form", employee: @employee %>
      <%#= link_to 'Back to employees', employees_path, class: "button ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <% end %>
  <% end %>
</div>
