= turbo_stream.update :preview do

 = render 'form', locals: { employee: @employee }
  .bg-red-50.text-red-500.px-3.py-2.font-medium.rounded-lg.mt-3
    = @preview_employee.errors[label].full_messages unless @preview_employee.valid?
